
   
    <!--========================================================== -->
                          <!-- ENCABEZADO -->
    <!--========================================================== -->
    <header class="container-fluid bg-primary d-flex justify-content-center">
        <p class="text-light mb-0 p-2 fs-6">Challenge Greydive - Desarrollado por Silvio Rosas con Angular + BD Firebase</p>
    </header>

    <nav  class="navbar navbar-expand-lg navbar-light p-2"  id="menu">
        <div class="container">
          <a class="navbar-brand" href="#">
              <span class="fs-5 text-primary fw-bold">Home</span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
              <li class="nav-item">
                <a class="nav-link" routerLink="/lista">Lista Registros</a>
              </li>
             
            </ul>
           
          </div>

        </div>
      </nav>


<!--========================================================== -->
                  <!-- CONTENEDOR DEL FORMULARIO -->
<!--========================================================== -->

<div class="container p-3" style="max-width: 500px; background-color: rgb(225, 230, 239); border-radius: 6px;" id="contenedor-formulario">

  <div class="text-center" id="titulo-formulario">
    <div ><img src="assets/img/red.jpg" alt="" class="img-fluid"></div>
         
  </div> 

  <form autocomplete="off" [formGroup]="formFilter"  novalidate> 

    <div class="mb-3"> 
      <label for="">Nombre Completo</label>           
      <input type="input" class="form-control" id="nombre" formControlName="nombre" 
      [ngClass]="{'is-invalid': isValidField('nombre')}">
    </div>   

        <div class= "mb-3"> 
          <label for="">Email</label>          
          <input type="email" class="form-control" id="email" formControlName="email" 
          [ngClass]="{'is-invalid': isValidField('email')}">
        </div>
    
      
        <div class="mb-3">
          <label for="">Fecha de Nacimiento</label>
          <input type="date" class="form-control" id="fecha" formControlName="fecha" 
          [ngClass]="{'is-invalid': isValidField('fecha')}">
        </div>

      <div class="mb-4">
        <label for="">Seleccione País</label>
        <select type="select" class="form-select form-select-mb-3"  formControlName="pais" [ngClass]="{'is-invalid': isValidField('pais')}">
         
          <option value="Argentina">Argentina</option>
          <option value="Brasil">Brasil</option>
          <option value="Chile">Chile</option>
          <option value="Colombia">Colombia</option>
          <option value="Mexico">México</option>
          <option value="Peru">Perú</option>            
          <option value="Uruguay">Uruguay</option>
          <option value="Venezuela">Venezuela</option>
          
        </select>
      </div>

      <div class="mb-4">
        <button type="button" class=" btn btn-primary w-100 fs-5" [disabled]="formFilter.invalid" (click)="onSubmit()">Enviar</button>
      </div>
  </form>
  </div>








  
  
  


